.search_container {
  display: flex;
  position: relative;
}

.search_input_container {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.search_input_container input {
  background-color: inherit;
  font-size: 16px;
  border: 0;
}
.search_input_container input:focus {
  outline: 0;
}
.suggestion_list_container {
  position: absolute;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  max-height: 400px;
  height: auto;
  overflow: auto;
  border: 1px solid rgb(222, 222, 222);
  background-color: white;
}
.suggestion_list_container li {
  cursor: pointer;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(222, 222, 222);
  display: flex;
  align-items: center;
  gap: 10px;
}
.suggestion_list_container li:last-child {
  border-bottom: none;
}
.suggestion_list_container li img {
  height: 20px;
}
.suggestion_list_container li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.selected_menu {
  display: flex;
  align-items: center;
  border: 2px solid;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #202020;
  color: white;
  font-size: 14px;
  height: 25px;
  cursor: pointer;
}
.selected_menu img {
  height: 20px;
}
